extends _layouts/base

block content
  p
    a(href="bootstrap-musica.html") Blog de música con bootstrap
  p
    a(href="foundation-gastronomia.html") Blog de gastronomía con foundation
  p
    a(href="materialize-turismo.html") Blog de turismo con materialize

